@{
    ViewBag.Title = "UserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/JSUserRoles.js"></script>

<h2>UserRoles</h2>
<div id="demo" class="table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" class="nd table table-bordered table-striped table-hover display" id="usersTable">
        <thead>
            <tr id="headTable">
                <th>Login</th>
                <th>Role</th>
            </tr>
        </thead>
    </table>
</div>


